<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       
        <li routerLinkActive="active current" [routerLinkActiveOptions] = {exact:true}><a routerLink="usersfire">usersfire</a></li>
        
      </ul>
    </div>
  </div>
</nav>